body{
  background-image: linear-gradient(316deg,#cb2626,#1af399);
  color: white;
  height: 702px;
}

.App{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-body{
  background-color: rgb(220, 217, 212);
  width:450px;
  border-radius:20px;
  padding:13px;
}

.row{
  display: flex;
}



